.no-close .ui-dialog-titlebar-close {
    display: none;
}

.gone {
    display: none;
}

#csv_preview {
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
}

#csv_preview th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    padding: 4px;
    text-align: center;
}

#csv_preview td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
}

#uploading > * {
    display: table-cell;
    vertical-align: middle;
    padding: 4px;
}

.datepicker {
    display: table-cell;
    vertical-align: top;
}

.shinchoku-area {
    display: table-cell;
    vertical-align: top;
    padding-left: 10px;
    width: 100%;
}
